doctype html
html
   head
      title = "Hello Pug"
   body
      p.greetings#people Wellcome to ABC inc
      a(href="/auth") GO TO INTERNET
      br
      a(href="app://free_wifi/?name=adsad&age=13age=45") OpenAPP